.nav .open>a, .nav .open>a:focus{
    background-color: #fff;
}

.dropdown-menu{
    margin: 20px;
}


.dropdown-menu> .dropdown-item{
    color:#323232;
}
.dropdown-menu> .dropdown-item:hover{
    color:#DA162C;
}
#product_carousel> .item> article{
    display: block;
    width: 100%;
    height: auto;
}